@{
    ViewData["Title"] = "Build Amazing Cloud and IoT Ecosystems | IT Consulting Services | Cloud and IoT Consulting";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <img src="~/images/svgs/free-test-deploy.svg" />
    </div>
